{% extends "base.html" %}

{% block header %}<h1>♡Contact Us!♡</h1>{% endblock %}

{% block content %}
<h2>You can reach any of us through email:</h2>
    <table id="contact-table">
        <tr>
            <td>
                <h3>
                    Leslie Lei<br>
                    Informatics Major<br>
                    <a href="mailto:ljlei@uci.edu" target="_blank">ljlei@uci.edu</a>
                </h3>
                
            </td>
            <td>
                <h3>
                    Brianna Chizhevsky<br>
                    Computer Science Major <br>
                    <a href="mailto:bchizhev@uci.edu" target="_blank">bchizhev@uci.edu</a>
                </h3>
                
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    Tenzo Chang <br>
                    Software Engineering <br>
                    <a href="mailto:tenzosc@uci.edu" target="_blank">tenzosc@uci.edu</a>
                </h3>
                
            </td>
            <td>
                <h3>
                    Esther Wong <br>
                    Mechanical Engineering <br>
                    <a href="mailto:esthersw@uci.edu" target="_blank">esthersw@uci.edu</a>
                </h3>
                
            </td>
        </tr>
    </table>
{% endblock %}