div {    
    
    color: rgb(240, 112, 112);
    
    font-size: 100px;
    
    font-family: 'Fredoka One';

    padding-bottom: 90px;
    
    text-align: center;
}

label {

    color: pink;
    font-size: 70px;
    font-family: 'Fredoka One';
}

body {

    background-color: #FFE3E1;
}

table {
    background-color: white;
    border-radius: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-right: 15px;
    padding-left: 30px;
}

input {
    margin-left: 15px;
}

input[type=submit] {
    font-family: 'Fredoka One';
    color: #FFFFFF;
    text-shadow: #FFE3E1;
    padding:5px 15px; 
    background:#FF9494; 
    border:0 none;
    border-radius: 25px;
    cursor:pointer;
    /* -webkit-border-radius: 5px;*/
    /*border-radius: 5px; */
}